.login-container {
  /* max-width: 1200px; */
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container div.container-esquerdo {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  border-right: 5px solid #333;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2cc0f;
}

.login-container div.container-esquerdo section.brand-container {
  margin-left: 25%;
}

.login-container div.container-esquerdo section.brand-container img {
  width: 90%;
  max-width: 600px;
}

.login-container div.container-direito {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  border-left: 5px solid #333;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.login-container div.container-direito section.form {
  margin-right: 40%;
  width: 100%;
  max-width: 450px;
  margin-left: 30px;
}

.login-container div.container-direito section.form div.info-page {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-container div.container-direito section.form div.info-page h3 {
  font-size: 30px;
}

.login-container div.container-direito section.form div.info-page h3:first-child {
  color: #515c6f;
}

.login-container div.container-direito section.form div.info-page h3:last-child {
  color: #d1d3d7;
}

.login-container div.container-direito section.form form {
  padding: 10px;
  border-radius: 15px;
  /* TODO: testar um shadow */
}

.login-container div.container-direito section.form form div.input {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 4px 8px;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.login-container div.container-direito section.form form div.input.input-email {
  border-radius: 15px 15px 0 0;
  border-bottom: 0.5px solid #efefef;
  border: 0;
}

.login-container div.container-direito section.form form div.input.input-password {
  border-radius: 0 0 15px 15px;
  border-bottom: 0.5px solid #efefef;
}

.login-container div.container-direito section.form form div.input div {
  width: 100%;
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.login-container div.container-direito section.form form div.input div>input {
  width: 100%;
  height: 40px;
}

.login-container div.container-direito section.form form div.input label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-container div.container-direito section.form form .input-button button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #333;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  transition: filter 0.2s;
}

.login-container div.container-direito section.form form .input-button button:hover {
  filter: brightness(80%);
}

.login-container div.container-direito section.form div.info-return-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  color: #515c6f;
}