@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,100;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Fira Code', monospace;
}

input,
button,
textarea {
  font: 400 14px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333333;
  font-weight: 300;
}

main {
  padding-top: 58px;
  padding-bottom: 167px;
}